In [1]:
import pandas as pd
import numpy as np

In [7]:
df= pd.read_csv("Birds_Strike-_final_dataset.csv")

In [8]:
df

,Record ID,Aircraft: Type,Airport: Name,Altitude bin,Aircraft: Make/Model,Wildlife: Number struck,Wildlife: Number Struck Actual,Effect: Impact to flight,FlightDate,Effect: Indicated Damage,...,Remains of wildlife collected?,Remains of wildlife sent to Smithsonian,Wildlife: Size,Conditions: Sky,Wildlife: Species,Pilot warned of birds or wildlife?,Cost: Total $,Feet above ground,Number of people injured,Is Aircraft Large?
0,202152,Airplane,LAGUARDIA NY,> 1000 ft,B-737-400,Over 100,859,Engine Shut Down,23-11-2000 00:00,Caused damage,...,False,False,Medium,No Cloud,Unknown bird - medium,N,"30,736","1,500",0,Yes
1,208159,Airplane,DALLAS/FORT WORTH INTL ARPT,< 1000 ft,MD-80,Over 100,424,NaN,25-07-2001 00:00,Caused damage,...,False,False,Small,Some Cloud,Rock pigeon,Y,0,0,0,No
2,207601,Airplane,LAKEFRONT AIRPORT,< 1000 ft,C-500,Over 100,261,NaN,14-09-2001 00:00,No damage,...,False,False,Small,No Cloud,European starling,N,0,50,0,No
3,215953,Airplane,SEATTLE-TACOMA INTL,< 1000 ft,B-737-400,Over 100,806,Precautionary Landing,05-09-2002 00:00,No damage,...,True,False,Small,Some Cloud,European starling,Y,0,50,0,Yes
4,219878,Airplane,NORFOLK INTL,< 1000 ft,CL-RJ100/200,Over 100,942,NaN,23-06-2003 00:00,No damage,...,False,False,Small,No Cloud,European starling,N,0,50,0,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25551,321151,Airplane,REDDING MUNICIPAL,> 1000 ft,EMB-120,1,1,NaN,30-12-2011 00:00,No damage,...,False,False,Large,Overcast,Unknown bird - large,N,0,"1,500",0,No
25552,319677,Airplane,ORLANDO INTL,< 1000 ft,A-321,1,1,NaN,30-12-2011 00:00,No damage,...,False,False,Small,Some Cloud,Tree swallow,Y,0,0,0,No
25553,319680,NaN,NaN,NaN,EC-135,NaN,1,NaN,NaN,No damage,...,False,False,NaN,No Cloud,Unknown bird - small,NaN,0,NaN,0,NaN
25554,319679,Airplane,DETROIT METRO WAYNE COUNTY ARPT,< 1000 ft,B-757-200,1,1,NaN,31-12-2011 00:00,No damage,...,False,False,Medium,Some Cloud,Unknown bird - medium,Y,0,0,0,Yes
25555,319593,Airplane,ABRAHAM LINCOLN CAPITAL ARPT,< 1000 ft,B-737-400,1,1,NaN,31-12-2011 00:00,Caused damage,...,True,False,Medium,No Cloud,Red-tailed hawk,N,0,0,0,Yes

In [9]:
df.shape

(25556, 25)

In [10]:
df.ndim

2

In [11]:
df.describe()

           Record ID  Wildlife: Number Struck Actual  Number of people injured
count   25556.000000                    25556.000000              25556.000000
mean   253919.957740                        2.691658                  0.001057
std     38509.468604                       12.794467                  0.050422
min      1195.000000                        1.000000                  0.000000
25%    225794.250000                        1.000000                  0.000000
50%    248756.000000                        1.000000                  0.000000
75%    269170.500000                        1.000000                  0.000000
max    321909.000000                      942.000000                  6.000000

In [12]:
df.isnull().sum()

Record ID                                      0
Aircraft: Type                               127
Airport: Name                                127
Altitude bin                                 127
Aircraft: Make/Model                           0
Wildlife: Number struck                      127
Wildlife: Number Struck Actual                 0
Effect: Impact to flight                   23478
FlightDate                                   127
Effect: Indicated Damage                       0
Aircraft: Number of engines?                 267
Aircraft: Airline/Operator                   127
Origin State                                 449
When: Phase of flight                        127
Conditions: Precipitation                  23541
Remains of wildlife collected?                 0
Remains of wildlife sent to Smithsonian        0
Wildlife: Size                               127
Conditions: Sky                                0
Wildlife: Species                              0
Pilot warned of birds or wildlife?           127
Cost: Total $                                  0
Feet above ground                            127
Number of people injured                       0
Is Aircraft Large?                           127
dtype: int64

In [14]:
df['Origin State'].unique()

array(['New York', 'Texas', 'Louisiana', 'Washington', 'Virginia', nan,
       'Delaware', 'DC', 'Georgia', 'Florida', 'California', 'Illinois',
       'Connecticut', 'Missouri', 'Rhode Island', 'Hawaii', 'Arizona',
       'Tennessee', 'South Carolina', 'South Dakota', 'New Jersey',
       'Colorado', 'Minnesota', 'Alabama', 'Ohio', 'Wisconsin',
       'Michigan', 'Massachusetts', 'Alaska', 'North Carolina',
       'Kentucky', 'Indiana', 'Oregon', 'Pennsylvania', 'New Hampshire',
       'Arkansas', 'Nevada', 'Mississippi', 'Maryland', 'Maine', 'Quebec',
       'Idaho', 'British Columbia', 'Utah', 'Nebraska', 'Iowa',
       'New Mexico', 'West Virginia', 'Oklahoma', 'North Dakota',
       'Vermont', 'Wyoming', 'Kansas', 'Prince Edward Island', 'Montana',
       'Puerto Rico', 'Ontario', 'Virgin Islands',
       'Newfoundland and Labrador', 'Alberta', 'Saskatchewan'],
      dtype=object)

In [15]:
df['When: Phase of flight'].unique()

array(['Climb', 'Landing Roll', 'Approach', 'Take-off run', 'Descent',
       nan, 'Taxi', 'Parked'], dtype=object)

In [16]:
df['Aircraft: Type'].unique()

array(['Airplane', nan], dtype=object)

In [17]:
df.columns

Index(['Record ID', 'Aircraft: Type', 'Airport: Name', 'Altitude bin',
       'Aircraft: Make/Model', 'Wildlife: Number struck',
       'Wildlife: Number Struck Actual', 'Effect: Impact to flight',
       'FlightDate', 'Effect: Indicated Damage',
       'Aircraft: Number of engines?', 'Aircraft: Airline/Operator',
       'Origin State', 'When: Phase of flight', 'Conditions: Precipitation',
       'Remains of wildlife collected?',
       'Remains of wildlife sent to Smithsonian', 'Wildlife: Size',
       'Conditions: Sky', 'Wildlife: Species',
       'Pilot warned of birds or wildlife?', 'Cost: Total $',
       'Feet above ground', 'Number of people injured', 'Is Aircraft Large?'],
      dtype='object')

In [18]:
df.size

638900

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25556 entries, 0 to 25555
Data columns (total 25 columns):
 #   Column                                   Non-Null Count  Dtype
---  ------                                   --------------  -----
 0   Record ID                                25556 non-null  int64
 1   Aircraft: Type                           25429 non-null  object
 2   Airport: Name                            25429 non-null  object
 3   Altitude bin                             25429 non-null  object
 4   Aircraft: Make/Model                     25556 non-null  object
 5   Wildlife: Number struck                  25429 non-null  object
 6   Wildlife: Number Struck Actual           25556 non-null  int64
 7   Effect: Impact to flight                 2078 non-null   object
 8   FlightDate                               25429 non-null  object
 9   Effect: Indicated Damage                 25556 non-null  object
 10  Aircraft: Number of engines?             25289 non-null  object
 11  Aircraft: Airline/Operator               25429 non-null  object
 12  Origin State                             25107 non-null  object
 13  When: Phase of flight                    25429 non-null  object
 14  Conditions: Precipitation                2015 non-null   object
 15  Remains of wildlife collected?           25556 non-null  bool
 16  Remains of wildlife sent to Smithsonian  25556 non-null  bool
 17  Wildlife: Size                           25429 non-null  object
 18  Conditions: Sky                          25556 non-null  object
 19  Wildlife: Species                        25556 non-null  object
 20  Pilot warned of birds or wildlife?       25429 non-null  object
 21  Cost: Total $                            25556 non-null  object
 22  Feet above ground                        25429 non-null  object
 23  Number of people injured                 25556 non-null  int64
 24  Is Aircraft Large?                       25429 non-null  object
dtypes: bool(2), int64(3), object(20)
memory usage: 4.5+ MB

In [20]:
df1 = df.copy()

In [21]:
df1

,Record ID,Aircraft: Type,Airport: Name,Altitude bin,Aircraft: Make/Model,Wildlife: Number struck,Wildlife: Number Struck Actual,Effect: Impact to flight,FlightDate,Effect: Indicated Damage,...,Remains of wildlife collected?,Remains of wildlife sent to Smithsonian,Wildlife: Size,Conditions: Sky,Wildlife: Species,Pilot warned of birds or wildlife?,Cost: Total $,Feet above ground,Number of people injured,Is Aircraft Large?
0,202152,Airplane,LAGUARDIA NY,> 1000 ft,B-737-400,Over 100,859,Engine Shut Down,23-11-2000 00:00,Caused damage,...,False,False,Medium,No Cloud,Unknown bird - medium,N,"30,736","1,500",0,Yes
1,208159,Airplane,DALLAS/FORT WORTH INTL ARPT,< 1000 ft,MD-80,Over 100,424,NaN,25-07-2001 00:00,Caused damage,...,False,False,Small,Some Cloud,Rock pigeon,Y,0,0,0,No
2,207601,Airplane,LAKEFRONT AIRPORT,< 1000 ft,C-500,Over 100,261,NaN,14-09-2001 00:00,No damage,...,False,False,Small,No Cloud,European starling,N,0,50,0,No
3,215953,Airplane,SEATTLE-TACOMA INTL,< 1000 ft,B-737-400,Over 100,806,Precautionary Landing,05-09-2002 00:00,No damage,...,True,False,Small,Some Cloud,European starling,Y,0,50,0,Yes
4,219878,Airplane,NORFOLK INTL,< 1000 ft,CL-RJ100/200,Over 100,942,NaN,23-06-2003 00:00,No damage,...,False,False,Small,No Cloud,European starling,N,0,50,0,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25551,321151,Airplane,REDDING MUNICIPAL,> 1000 ft,EMB-120,1,1,NaN,30-12-2011 00:00,No damage,...,False,False,Large,Overcast,Unknown bird - large,N,0,"1,500",0,No
25552,319677,Airplane,ORLANDO INTL,< 1000 ft,A-321,1,1,NaN,30-12-2011 00:00,No damage,...,False,False,Small,Some Cloud,Tree swallow,Y,0,0,0,No
25553,319680,NaN,NaN,NaN,EC-135,NaN,1,NaN,NaN,No damage,...,False,False,NaN,No Cloud,Unknown bird - small,NaN,0,NaN,0,NaN
25554,319679,Airplane,DETROIT METRO WAYNE COUNTY ARPT,< 1000 ft,B-757-200,1,1,NaN,31-12-2011 00:00,No damage,...,False,False,Medium,Some Cloud,Unknown bird - medium,Y,0,0,0,Yes
25555,319593,Airplane,ABRAHAM LINCOLN CAPITAL ARPT,< 1000 ft,B-737-400,1,1,NaN,31-12-2011 00:00,Caused damage,...,True,False,Medium,No Cloud,Red-tailed hawk,N,0,0,0,Yes

In [22]:
df1.dropna(subset=['Aircraft: Type','Airport: Name', 'Altitude bin','Wildlife: Number struck','Effect: Impact to flight','FlightDate','Aircraft: Number of engines?','Aircraft: Airline/Operator','Origin State','When: Phase of flight','Wildlife: Size','Pilot warned of birds or wildlife?','Feet above ground','Is Aircraft Large?'],inplace=True)

In [23]:
df1.isnull().sum()

Record ID                                     0
Aircraft: Type                                0
Airport: Name                                 0
Altitude bin                                  0
Aircraft: Make/Model                          0
Wildlife: Number struck                       0
Wildlife: Number Struck Actual                0
Effect: Impact to flight                      0
FlightDate                                    0
Effect: Indicated Damage                      0
Aircraft: Number of engines?                  0
Aircraft: Airline/Operator                    0
Origin State                                  0
When: Phase of flight                         0
Conditions: Precipitation                  1808
Remains of wildlife collected?                0
Remains of wildlife sent to Smithsonian       0
Wildlife: Size                                0
Conditions: Sky                               0
Wildlife: Species                             0
Pilot warned of birds or wildlife?            0
Cost: Total $                                 0
Feet above ground                             0
Number of people injured                      0
Is Aircraft Large?                            0
dtype: int64

In [24]:
df1.describe()

           Record ID  Wildlife: Number Struck Actual  Number of people injured
count    1995.000000                     1995.000000               1995.000000
mean   248514.085714                        6.016541                  0.010025
std     34349.015175                       30.550766                  0.167283
min    200058.000000                        1.000000                  0.000000
25%    221356.500000                        1.000000                  0.000000
50%    242265.000000                        1.000000                  0.000000
75%    263918.000000                        4.000000                  0.000000
max    321172.000000                      859.000000                  6.000000

In [26]:
df1.isnull().sum()

Record ID                                     0
Aircraft: Type                                0
Airport: Name                                 0
Altitude bin                                  0
Aircraft: Make/Model                          0
Wildlife: Number struck                       0
Wildlife: Number Struck Actual                0
Effect: Impact to flight                      0
FlightDate                                    0
Effect: Indicated Damage                      0
Aircraft: Number of engines?                  0
Aircraft: Airline/Operator                    0
Origin State                                  0
When: Phase of flight                         0
Conditions: Precipitation                  1808
Remains of wildlife collected?                0
Remains of wildlife sent to Smithsonian       0
Wildlife: Size                                0
Conditions: Sky                               0
Wildlife: Species                             0
Pilot warned of birds or wildlife?            0
Cost: Total $                                 0
Feet above ground                             0
Number of people injured                      0
Is Aircraft Large?                            0
dtype: int64

In [27]:
df1

,Record ID,Aircraft: Type,Airport: Name,Altitude bin,Aircraft: Make/Model,Wildlife: Number struck,Wildlife: Number Struck Actual,Effect: Impact to flight,FlightDate,Effect: Indicated Damage,...,Remains of wildlife collected?,Remains of wildlife sent to Smithsonian,Wildlife: Size,Conditions: Sky,Wildlife: Species,Pilot warned of birds or wildlife?,Cost: Total $,Feet above ground,Number of people injured,Is Aircraft Large?
0,202152,Airplane,LAGUARDIA NY,> 1000 ft,B-737-400,Over 100,859,Engine Shut Down,23-11-2000 00:00,Caused damage,...,False,False,Medium,No Cloud,Unknown bird - medium,N,"30,736","1,500",0,Yes
3,215953,Airplane,SEATTLE-TACOMA INTL,< 1000 ft,B-737-400,Over 100,806,Precautionary Landing,05-09-2002 00:00,No damage,...,True,False,Small,Some Cloud,European starling,Y,0,50,0,Yes
6,221697,Airplane,NEW CASTLE COUNTY,< 1000 ft,LEARJET-25,Over 100,227,Other,17-08-2003 00:00,Caused damage,...,True,True,Small,No Cloud,European starling,N,"14,81,711",150,0,No
7,236635,Airplane,WASHINGTON DULLES INTL ARPT,< 1000 ft,A-320,Over 100,320,Other,01-03-2006 00:00,Caused damage,...,True,False,Small,Some Cloud,European starling,Y,"14,83,141",100,0,No
8,207369,Airplane,ATLANTA INTL,< 1000 ft,DC-9-30,2 to 10,9,Aborted Take-off,06-01-2000 00:00,No damage,...,False,False,Small,Some Cloud,Rock pigeon,N,0,0,0,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25483,319903,Airplane,PUNTA GORDA ARPT,< 1000 ft,B-737-400,1,1,Engine Shut Down,03-12-2011 00:00,Caused damage,...,True,False,Large,Some Cloud,Sandhill crane,N,0,0,0,Yes
25505,319548,Airplane,SACRAMENTO INTL,> 1000 ft,B-737-700,1,1,Other,08-12-2011 00:00,Caused damage,...,True,True,Large,No Cloud,Greater white-fronted goose,Y,0,"2,200",0,Yes
25515,319962,Airplane,SALT LAKE CITY INTL,< 1000 ft,A-320,1,1,Aborted Take-off,14-12-2011 00:00,No damage,...,True,False,Medium,Overcast,Rough-legged hawk,Y,0,0,0,No
25525,319579,Airplane,SAN FRANCISCO INTL ARPT,< 1000 ft,CL-RJ100/200,1,1,Aborted Take-off,17-12-2011 00:00,Caused damage,...,True,True,Medium,No Cloud,Red-tailed hawk,N,0,0,0,No
25526,319582,Airplane,FORT LAUDERDALE/HOLLYWOOD INTL,< 1000 ft,B-737-700,1,1,Engine Shut Down,18-12-2011 00:00,No damage,...,False,False,Medium,Some Cloud,Egrets,Y,0,0,0,Yes

In [36]:
df1.to_csv(r'C:\Users\jashw\bird_strike_cleaned_data.xlsx',index = False)

In [32]:
import os
print(os.getcwd())

C:\Users\jashw